
body, h1, h2, p, ul, nav {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1, h2 {
  font-weight: bold;
}


header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: pink;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  margin-right: 20px; 
}

.card p {
  flex-grow: 1; 
}

footer {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}


footer span {
  font-size: 1.2em;
}


#lastModified {
  font-style: italic;
  font-size: 0.9em;
}





