body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif; 
    font-size: 16px;
    line-height: 1.5;
}

h1, h2 {
    font-family: 'Arial', sans-serif; 
    font-weight: bold;
}


header {
    background-color: #333;
    color: red;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff0; 
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
}

footer {
    background-color: #333;
    color: red;
    padding: 20px;
    text-align: center;
}


