
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Sansita", sans-serif;
}


header {
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


nav {
    background-color: aquamarine;
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    color: yellow; 
    background-color: rgba(0, 0, 0, 0.1); 
    
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}


.card {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


@media (min-width: 640px) {
    nav ul {
        justify-content: space-around;
    }
}
